.full-width-table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-cell img {
  vertical-align: middle;
}
