@import '~@angular/material/theming';

.full-width-table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.mat-cell img {
  vertical-align: middle;
  margin: 0 5px 0 5px;
}

.mat-row:hover {
  background: map-get($mat-grey, 100);
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}
