// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$palette-primary: (
  50 : #e4e6eb,
  100 : #bbc0ce,
  200 : #8e96ad,
  300 : #606c8c,
  400 : #3e4d73,
  500 : #1c2d5a,
  600 : #192852,
  700 : #142248,
  800 : #111c3f,
  900 : #09112e,
  A100 : #697fff,
  A200 : #3653ff,
  A400 : #0327ff,
  A700 : #0021e9,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $light-primary-text,
    A400 : $light-primary-text,
    A700 : $light-primary-text,
  )
);

$palette-accent: (
  50 : #fef7e3,
  100 : #fdebb9,
  200 : #fcde8b,
  300 : #fbd05d,
  400 : #fac63a,
  500 : #f9bc17,
  600 : #f8b614,
  700 : #f7ad11,
  800 : #f6a50d,
  900 : #f59707,
  A100 : #ffffff,
  A200 : #fff6ea,
  A400 : #ffe0b7,
  A700 : #ffd49d,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $dark-primary-text,
    500 : $dark-primary-text,
    600 : $dark-primary-text,
    700 : $dark-primary-text,
    800 : $dark-primary-text,
    900 : $dark-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$primary: mat-palette($palette-primary);
$accent: mat-palette($palette-accent, 500, 400, 600);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// The background color
$background-color: #1c2d5a;

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

$background: map-get($theme, background);
$background: map_merge($background, (background: $background-color));
$theme: map_merge($theme, (background: $background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: $background-color; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep app-comments.ng-star-inserted {
  background-color: #1c2d5a;
}
